@model IPagedList<MediStockWeb.Areas.Admin.Models.CategoryModel>

@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Categories</h4>

        <button class="btn btn-primary"
                type="button"
                style="position: absolute;
                       right: 34px;
                       box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1),4px 4px 15px -5px rgba(21,114,232,.4)!important;"
                onclick="window.location.href='@Url.Action("Create", "Category")'">
                                <span class="btn-label">
												<i class="fa fa-plus"></i>
											</span>
            Add New
        </button>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            @using (Html.BeginForm("SearchCategory", "Category", FormMethod.Post, new { @id = "searchFormID", @class = "form-group" }))
                            {
                                <div class="row">
                                    <div class="col-md-4 float-right no-margin no-padding">
                                        @Html.TextBox("searchString", null, new { @id = "searchID", @class = "form-control shadow" })
                                    </div>
                                    <div class="col-md-4 float-left no-margin no-padding">
                                        <input type="submit" value="Search" onclick="validateSearch()" style="margin-left:5px;" class="btn btn-success shadow la flaticon-search-2">
                                    </div>
                                    <div class="col-4">
                                        <a href="@Url.Action("List","Category",new { area="Admin"})" class="btn btn-primary shadow float-right la flaticon-search-2" style="margin-top:5px;"> Show All </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>@Html.DisplayNameFor(model => model.First().Name)</td>*@
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td><a href="@Url.Action("Edit", "Category", new { id = item.Id })" class="btn btn-warning shadow btn-sm active la flaticon-pen" role="button" aria-pressed="true"> Edit </a></td>
                                <td><a href="@Url.Action("Delete", "Category", new { id = item.Id })" class="btn btn-danger shadow btn-sm active la flaticon-interface-5" role="button" aria-pressed="true" onclick="return DeletePaymentCard()"> Delete </a> </td>
                            </tr>
                        }

                    </table>

                    <div class="pagination">
                        <div class="page-item">
                            <div class="page-link">
                                @Html.PagedListPager((IPagedList)Model, page => Url.Action("List", "Category", new { page = page }))
                            </div>
                        </div>
                    </div>


                    @*<ul class="pagination pg-success">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>



                        </ul>*@

                </div>

                <div class="panel-footer">
                    <p class="box-title"><b>Total Category till @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@Model.Count()</span></p>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function validateSearch() {

        var searchString = document.forms["searchFormID"]["searchID"].value;
        if (searchString == "") {
            alert("Please type something in search box");
            return false;
        }
        if (!(searchString.length >= 3 && searchString.length <= 250)) {
            alert("Search string should be not more than 250 characters");
            return false;
        }

    }
        function DeletePaymentCard() {
        return confirm("Are you shure you want to Delete the selected item ?");
    }

</script>
@*<script type="text/javascript">
    function DeletePaymentCard(){
    swal({
						title: 'Are you sure?',
						text: "You won't be able to revert this!",
						type: 'warning',
						buttons:{
							confirm: {
								text : 'Yes, delete it!',
								className : 'btn btn-success'
							},
							cancel: {
								visible: true,
								className: 'btn btn-danger'
							}
						}
					}).then((Delete) => {
						if (Delete) {
							swal({
								title: 'Deleted!',
								text: 'Your file has been deleted.',
								type: 'success',
								buttons : {
									confirm: {
										className : 'btn btn-success'
									}
								}
							});
						} else {
							swal.close();
						}
					});
        }

</script>*@
