@model List<MediStockWeb.Areas.Admin.Models.CategoryModel>

@{
    ViewData["Title"] = "SearchCategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="E:\Sem-4\Final Project\MediStock\Areas\Admin\Theme\Category\css\bootstrap.min.css" rel="stylesheet" />

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Categories</h4>

        <button class="btn btn-primary"
                type="button"
                style="position: absolute;
                       right: 34px;
                       box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1),4px 4px 15px -5px rgba(21,114,232,.4)!important;"
                onclick="window.location.href='@Url.Action("Create", "Category")'">
            Add New
        </button>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            @using (Html.BeginForm("SearchCategory", "Category", FormMethod.Post, new { @id = "searchFormID", @class = "form-group" }))
                            {
                                <div class="row">
                                    <div class="col-md-4 float-right no-margin no-padding">
                                        @Html.TextBox("searchString", null, new { @id = "searchID", @class = "form-control shadow" })
                                    </div>
                                    <div class="col-md-4 float-left no-margin no-padding">
                                        <input type="submit" value="Search" onclick="validateSearch()" style="margin-left:5px;" class="btn btn-success shadow">
                                    </div>
                                    <div class="col-4">
                                        <a href="@Url.Action("List","Category",new { area="Admin"})" class="btn btn-primary shadow float-right" style="margin-top:5px;">Show All</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td><a href="@Url.Action("Edit", "Category", new { id = item.Id })" class="btn btn-warning shadow btn-sm active" role="button" aria-pressed="true">Edit</a></td>
                                <td><a href="@Url.Action("Delete", "Category", new { id = item.Id })" class="btn btn-danger shadow btn-sm active" role="button" aria-pressed="true" onclick="return confirmDelete()">Delete</a></td>
                            </tr>
                        }

                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

<script>

    //function login(showhide) {
    //    if (showhide == "show") {
    //        document.getElementById('popupbox').style.visibility = "visible";
    //    } else if (showhide == "hide") {
    //        document.getElementById('popupbox').style.visibility = "hidden";
    //    }
    //}

    function confirmDelete() {
        return confirm("Are yo shure you want to delete");
    }

    function validateSearch() {

        var searchString = document.forms["searchFormID"]["searchID"].value;
        if (searchString == "") {
            alert("Please type something in search box");
            return false;
        }
        if (!(searchString.length >= 3 && searchString.length <= 250)) {
            alert("Search string should be not more than 250 characters");
            return false;
        }

    }
</script>
